{% extends 'base.html' %}
{% block titulo %}Movimiento Peregrino{% endblock %}
{% block navbar %}
    <li><a href="/logout">Cerrar sesion</a></li>
{% endblock %}
{% block contenido %}
    <div class="row">
        <div class="col-sm-12 ">
            <h2>Actividades del Movimiento Peregrino <a class="btn btn-default" href="/actividades/nueva">Agregar actividad</a></h2>

        </div>
    </div>

    {% if mensaje %}
        <div class="alert alert-warning" role="alert">{{ mensaje }}</div>
    {% endif %}
    <ul class="list-group">
    {% for actividad in lista_actividades %}
        <li class="list-group-item">
            <h4>{{ actividad.nombre }}</h4>
            <a href="{% url 'inscripcion.views.inscriptos_actividad' actividad.id %}" class="btn btn-info">Inscriptos</a>
            <a class="btn btn-info" href="/actividades/{{ actividad.id }}/editar">Editar actividad</a>
            <a class="btn btn-danger" href="/actividades/{{ actividad.id }}/eliminar">Eliminar actividad</a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}