<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titulo %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body>
    {% load bootstrap3 %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="/">MP</a> -->
                <a href="/" class="navbar-brand">
                    <img src="{% static 'img/logo-mp.png' %}"
                         style="max-width:50px; margin-top: -7px;">
                </a>
                <a href="#" class="navbar-brand">Inscripciones - MP</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/login"></a></li>
                    {% block navbar %}{% endblock %}

                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% bootstrap_messages %}

        {% block content %}

        {% endblock %}

        {% block contenido %}

        {% endblock %}


    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60200116-1', 'auto');
      ga('send', 'pageview');

    </script>
    {% block scripts %}{% endblock %}
</body>
</html>