{% extends 'base.html' %}
{% block contenido %}
    {# Load the tag library #}
{% load bootstrap3 %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
    <div class="row">
        <div class="col-sm-12 ">
            <h3>Inscripción a {{ nombre_actividad }}</h3>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            {% bootstrap_messages %}
            <form id="formulario" method="post" action="" class="form">{% csrf_token %}
                {% bootstrap_form form layout='horizontal' %}
                {% buttons %}
                <button id="save" type="submit" class="btn btn-primary">
                    {% bootstrap_icon "floppy-disk" %} Guardar
                </button>
                {% endbuttons %}
            </form>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" id="bar"
                   role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                <span class="sr-only">45% Complete</span>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formulario").submit(function(){
                $("#save").prop( "disabled", true );
                return true;
            });
            $('#save').click(function(){
                $('#bar').addClass('active').attr('aria-valuenow', '99%').css('width', '99%');

            })
        });
    </script>
{% endblock %}
