{% extends 'base.html' %}
{% block contenido %}


    {% load filters %}
    {# Display django.contrib.messages as Bootstrap alerts #}
    <div class="row">
        <div class="col-sm-12 ">
            <h1>Lista de inscriptos a la actividad: {{ actividad }}</h1>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Puesto</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>CI</th>
                        <th>Telefono</th>
                        <th>Mail</th>

                        {% for dato in lista_inscriptos.first.datos %}
                            <th>{{ dato }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for inscripto in lista_inscriptos %}
                        <tr>
                            <td>{{ inscripto.puesto }}</td>
                            <td>{{ inscripto.nombre }}</td>
                            <td>{{ inscripto.apellido }}</td>
                            <td>{{ inscripto.cedula }}</td>
                            <td>{{ inscripto.celular }}</td>
                            <td>{{ inscripto.mail }}</td>
                            {% for dato in inscripto.datos %}
                                <td>{{ inscripto.datos|get_item:dato }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}