{% extends 'base.html' %}
{% block titulo %}Inscriptos — Movimiento Peregrino{% endblock %}
{% block contenido %}


    {# Display django.contrib.messages as Bootstrap alerts #}
    <div class="row">
        <div class="col-sm-12 ">
            <h2>Lista de inscriptos de la actividad: {{ actividad }}</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ">
            <div>
                <a class="btn btn-default" href="{{ url_csv }}">Descargar CSV</a>
                {% include "_inscriptos_tabla.html" %}
            </div>
        </div>
    </div>
{% endblock %}