{% extends "base.html" %}
{% load bootstrap3 %}

{% block contenido %}
    {% regroup object_list by tipo as lista_actividades %}

    {% for tipo in lista_actividades %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h4>{{ tipo.grouper }}</h4></div>
                <div class="panel-body">
                    <ul class="list-group">
                    {% for i in tipo.list %}
                        <li class="list-group-item">
                            <h3>
                                {{ i.nombre }}
                                {% if i.estado == 'F' %}
                                    {% bootstrap_button "Finalizado" size='xs' button_class="btn-warning" %}
                                {% endif %}
                            </h3>
                                {% if i.estado == 'F' %}
                                    <dl class="dl-horizontal">
                                        <dt>Fecha de Inicio</dt>
                                        <dd>{{ i.fechaInicio }}</dd>
                                        <dt>Fecha de Finalización</dt>
                                        <dd>{{ i.fechaFin }}</dd>
                                        <dt>Lugar</dt>
                                        <dd><a href="{{ i.lugar.url }}">{{ i.lugar }}</a></dd>
                                    </dl>
                                {% else %}
                                    <dl class="dl-horizontal">
                                        <dt>Fecha de Inicio</dt>
                                        <dd>{{ i.fechaInicio }}</dd>
                                        <dt>Fecha de Finalización</dt>
                                        <dd>{{ i.fechaFin }}</dd>
                                        <dt>Lugar</dt>
                                        <dd><a href="{{ i.lugar.url }}">{{ i.lugar }}</a></dd>
                                        <dt>Costo</dt>
                                        <dd>{{ i.costo }}</dd>
                                        <dt>Fecha de apertura:</dt>
                                        <dd>{{ i.fechaApertura }}</dd>
                                         <dt>Requisitos:</dt>
                                        <dd>{{ i.requisitos }}</dd>
                                    </dl>
                                    <a href="{% url 'actividad' i.id %}" class="btn btn-default">Inscribirse</a>
                                {% endif %}
                        </li>

                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}